<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Employees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<h3 class="display-4">WELCOME TO THE EMPLOYEE APP</h3>
				<div th:switch="${employees}" class="container my-5">

					<p class="my-5">
						<a href="addOneEmployeeForm/" target="_blank"
							onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=300,width=500 '); return false"
							class="btn btn-outline-secondary"> <i
							class="fas fa-user-plus ml-2"> Add Employee </i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Id</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Roll</th>
										<th>Salary</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="employee : ${employees}">
										<td th:text="${employee.id}"></td>
										<td th:text="${employee.firstName}"></td>
										<td th:text="${employee.lastName}"></td>
										<td th:text="${employee.role}"></td>
										<td th:text="${employee.salary}"></td>
										<td><a
											th:href="@{/employees/editOneEmployeeForm/{id}(id=${employee.id})}"
											target="_blank"
											onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=250,width=500 ' ); return false"
											class="btn btn-outline-primary"> <i
												class="fas fa-user-edit ml-2"> </i>
										</a></td>
										<td><a
											th:href="@{/employees/delete/{id}(id=${employee.id})}"
											target="_blank"
											onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=200,width=500 ' ); return false"
											class="btn btn-outline-danger"> <i
												class="fas fa-user-times ml-2"></i>
										</a></td>
									</tr>
								</tbody>
							</table>
							<a href="role/Boss" target="_blank"
								onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=300,width=700 '); return false">
								<i class="fas fa-list ml-2"> Bosses</i>
							</a> <a href="role/Employee" target="_blank"
								onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=300,width=700 '); return false">
								<i class="fas fa-list ml-2"> EmployeeS</i>
							</a> <a href="role/Volunteer" target="_blank"
								onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=300,width=700 '); return false">
								<i class="fas fa-list ml-2"> Volunteers</i>
							</a>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>