<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>EmployeesApp</title>
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=font1|font2|etc"
	type="text/css">
</head>
<body>
	<div class="container m-5">

		<h1>WELCOME TO THE EMPLOYEE APP </h1>
		<hr>
	</div>
</body>
</html>